{% extends "base.html" %}
{% load static %}
{% load board_filter %}
{% block title %}
  <title>Board Detail</title>
{% endblock title %}
{% block style %}
  <style>
    .comment {
      border-top: dotted 1px #ddd;
      font-size: 0.8em;
    }
  </style>
{% endblock style %}
{% block content %}
  {% if messages %}
    <div class="alert alert-danger my-3">
      {% for msg in messages %}
        <strong>{{msg.tags}}</strong>
        <ul>
          <li>{{msg.message}}</li>
        </ul>
      {% endfor %}
    </div>
  {% endif %}
  <h2 class="border-bottom py-2">
    <!-- 질문제목 -->
    {{question.subject}}
  </h2>
  <div class="row my-3 mb-5">
    <!-- 추천 영역-->
    <div class="col-1">
      <div class="bg-light text-center p-4 border font-weight-bolder mb-1">{{question.voter.count}}</div>
      <a href="{% url "board:vote_question" question.id %}" class="recommen btn btn-sm btn-secondary btn-block my-1">추천</a>
    </div>
    <div class="col-11">
      <div class="card">
        <div class="card-body">
          <div class="card--text">
            <!-- 질문 내용 -->
            {{question.content|mark}}
          </div>
          <div class="d-flex justify-content-end">
            <div class="badge text-bg-light p-2 me-2 text-start">
              <div class="mb-2">
                <!-- 작성자 -->
                {{question.author}}
              </div>
              <!-- 작성일시 -->
              {{question.created_at}}
            </div>
            {% if question.modified_at %}
              <div class="badge text-bg-light p-2 text-start">
                <div class="mb-2">
                  마지막 수정
                </div>
                <!-- 수정일시-->
                {{question.modified_at}}
              </div>
            {% endif %}
          </div>
          {% if question.author == request.user %}
            <div class="my-3">
              <a href="{% url "board:modify" question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
              <a href="#" data-url="{% url "board:delete" question.id %}" class="delete btn btn-sm btn-outline-secondary">삭제</a>
            </div>
          {% endif %}
          <!-- 질문 댓글 영역 -->
          {% if question.comment_set.count > 0 %}
            <div class="mt-3">
              <a name="">
                <!-- 질문 댓글 앵커 -->
              </a>
              {% for comment in question.comment_set.all %}
                <div class="comment py-2 text-muted">
                  <span style="white-space: pre-line;">
                    <!-- 댓글 내용 -->
                    {{comment.content}}
                  </span>
                  <span>
                    <!-- 댓글 작성자, 작성일시, 수정일시 -->
                    -
                    {{comment.author}},
                    {{comment.created_at}}
                    {% if comment.modified_at %}(수정됨 :
                      {{comment.modified_at}}){% endif %}
                  </span>
                  {% if comment.author == request.user %}
                    <a href="{% url "board:comment_modify_question" comment.id %}" class="small" style="text-decoration:none">수정</a>
                    <a href="#" data-url="{% url "board:comment_delete_question" comment.id %}" class="delete small" style="text-decoration:none">삭제</a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <!-- 질문 댓글 영역 종료-->
          <div class="mt-4">
            <a href="{% url "board:comment_create_question" question.id %}" class="small" style="text-decoration:none; color:rgb(52, 199, 47); padding:2px; border:2px dotted rgb(219, 218, 137); border-radius:6px">댓글추가..</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <a href="#" class="btn btn-success btn-sm my-4">
        목록으로
      </a>
    </div>
  </div>
  <!-- 원 질문에 대한 답변 영역 -->
  <h5 class="border-bottom my-3 py-2">
    <!-- 답변 개수 -->
    {{question.answer_set.count}}개의 답변이 있습니다
  </h5>
  {% for answer in question.answer_set.all %}
    <a name="answer_{{answer.id}}">
      <!-- 답변 댓글 앵커 -->
    </a>
    <!-- 답변 추천 영역 -->
    <div class="row my-3">
      <div class="col-1">
        <div class="bg-light text-center p-4 border font-weight-bolder mb-1">{{answer.voter.count}}</div>
        <a href="{% url "board:vote_answer" answer.id %}" class="recommen btn btn-sm btn-secondary btn-block my-1">추천</a>
      </div>
      <div class="col-11">
        <div class="card">
          <div class="card-body">
            <div class="card--text">
              <!-- 답변 내용 -->
              {{answer.content|mark}}
            </div>

            <div class="d-flex justify-content-end">
              <div class="badge text-bg-light p-2 me-2 text-start">
                <div class="mb-2">
                  <!-- 작성자 -->
                  {{answer.author}}
                </div>
                <!-- 작성일시 -->
                {{answer.created_at}}
              </div>
              {% if answer.modified_at %}
                <div class="badge text-bg-light p-2 text-start">
                  <div class="mb-2">
                    마지막 수정
                  </div>
                  <!-- 수정일시-->
                  {{answer.modified_at}}
                </div>
              {% endif %}
            </div>
            {% if answer.author == request.user %}
              <div class="my-3">
                <a href="{% url "board:answer_modify" answer.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" data-url="{% url "board:answer_delete" id=answer.id %}" class="delete btn btn-sm btn-outline-secondary">삭제</a>
              </div>
            {% endif %}
            <!-- 답변 댓글 영역 -->
            {% if answer.comment_set.count > 0 %}
              <div class="mt-3">
                <a name="">
                  <!-- 답변 댓글 앵커 -->
                </a>
                {% for comment in answer.comment_set.all %}
                  <div class="comment py-2 text-muted">
                    <span style="white-space: pre-line;">
                      <!-- 댓글 내용 -->
                      {{comment.content}}
                    </span>
                    <span>
                      <!-- 댓글 작성자, 작성일시, 수정일시 -->
                      -
                      {{comment.author}},
                      {{comment.created_at}}
                      {% if comment.modified_at %}(수정됨 :
                        {{comment.modified_at}}){% endif %}
                    </span>
                    {% if comment.author == request.user %}
                      <a href="{% url "board:comment_modify_answer" comment.id %}" class="small" style="text-decoration:none">수정</a>
                      <a href="#" data-url="{% url "board:comment_delete_answer" comment.id %}" class="delete small" style="text-decoration:none">삭제</a>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            <!-- 답변 댓글 영역 종료-->
            <div class="mt-4">
              <a href="{% url "board:comment_create_answer" answer.id %}" class="small" style="text-decoration:none; color:rgb(45, 190, 226); padding:2px; border:2px dotted rgb(12, 201, 191); border-radius:6px">댓글추가..</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- 답변 작성 영역 -->
  <form action="{% url "board:answer_create" question.id %}" method="post" class="my-5">
    {% include "form_errors.html" %}
    {% csrf_token %}
    <div class="form-group mb-3">
      <textarea name="content" id="content" rows="5" class="form-control" {% if not user.is_authenticated %} disabled="disabled" {% endif %}></textarea>
    </div>
    <input type="hidden" name="page" id="page" class="form-control" value="{{page}}">
    <input type="hidden" name="keyword" id="keyword" class="form-control" value="{{keyword|default_if_none:''}}">
    <input type="hidden" name="so" id="so" class="form-control" value="{{so|default_if_none:''}}">
    <button class="btn btn-primary">답변 등록</button>
  </form>

  <form action="{% url "board:index" %}" method="get" id="actionForm">
    <input type="hidden" name="page" id="page" class="form-control" value="{{page}}">
    <input type="hidden" name="keyword" id="keyword" class="form-control" value="{{keyword|default_if_none:''}}">
    <input type="hidden" name="so" id="so" class="form-control" value="{{so|default_if_none:''}}">
  </form>
{% endblock content %}
{% block script %}
  <script src={% static "js/detail.js" %}></script>
{% endblock script %}
