{% extends "base.html" %}
{% load static %}
{% load board_filter %}
{% block title %}
  <title>Board List</title>
{% endblock title %}
{% block content %}
  <div class="row justify-content-between">
    <div class="col-md-3">
      <select name="" id="" class="form-select so">
        <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
        <option value="recommend" {% if so == 'recommend' %}selected{% endif %}>추천순</option>
        <option value="popular" {% if so == 'popular' %}selected{% endif %}>인기순</option>
      </select>
    </div>
    <div class="col-md-8">
        <div class="input-group mb-3">
          <input type="text" name="keyword" class="form-control" value="{{keyword|default_if_none:''}}">
          <button class="btn btn-outline-secondary" id="searchbtn" type="button">찾기</button>
        </div>
    </div>
  </div>
  <div class="my-3">
    <table class="table">
      <thead>
        <tr class="table-success">
          <td>번호</td>
          <td>추천</td>
          <td>제목(댓글)</td>
          <td>작성자</td>
          <td>작성일시</td>
          <td>답변수</td>
          <td>조회수</td>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
          <tr>
            {% comment %} 
              question_list.paginator.count : 전체 게시물 개수
              question_list.start_index : 1부터 시작
              forloop.counter0 : 현재 페이지에서 0부터 인덱스 시작
              add:1 : +1
             {% endcomment %}
            <th>{{questions.paginator.count|sub:questions.start_index|sub:forloop.counter0|add:1}}</th>
            <td>
              <span class="badge text-bg-warning px-2 py-1">
                <!-- 질문 추천수 -->
                 {{question.voter.count}}
              </span>
            </td>
            <td>
              <a href="{% url "board:detail" id=question.id %}" class="text-decoration-none text-dark">
                <!-- 질문 제목 -->
                {{question.subject}}
                <span class="text-danger small mx-1">({{question.comment_set.count}})</span>
                <!-- 질문에 달린 답변의 개수 -->
              </a>
            </td>
            <td>
              <!-- 질문 작성자 -->
              {{question.author}}
            </td>
            <td>
              <!-- 질문 작성 일시 -->
              {{question.created_at}}
            </td>
            <td>
              <!-- 답변 수-->
              {% if question.answer_set.count > 0 %}
                <span style="border: 2px solid rgb(187, 255, 0); padding:5px; border-radius:25%; background-color:rgb(224, 248, 255); color:rgb(83, 68, 0); font-weight:700">
                  {{question.answer_set.count}}
                </span>
              {% endif %}
            </td>
            <td>{{question.viewcnt}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="">
      <ul class="pagination">
        {% if questions.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?keyword={{keyword}}&page=1&so={{so}}">1..</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?keyword={{keyword}}&page={{questions.previous_page_number}}&so={{so}}">Previous</a>
          </li>
        {% endif %}
        {% for page in questions.paginator.page_range %}
          {%if page >= questions.number|add:-5 and page <= questions.number|add:5%}
            <li class="page-item {% if page == questions.number %}active{% endif %}" aria-current="page">
              <a class="page-link" href="?keyword={{keyword}}&page={{page}}&so={{so}}">{{page}}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if questions.has_next %}
          <li class="page-item">
            <a class="page-link" href="?keyword={{keyword}}&page={{questions.next_page_number}}&so={{so}}">Next</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?keyword={{keyword}}&page={{max_page}}&so={{so}}">..End</a>
          </li>
        {% endif %}

      </ul>
    </nav>
    <a href="{% url "board:create" %}" class="btn btn-primary">질문등록</a>
  </div>
  <form action="{% url "board:index" %}" method="get" id="actionForm">
    <input type="hidden" name="page" id="page" class="form-control" value="{{page}}">
    <input type="hidden" name="keyword" id="keyword" class="form-control" value="{{keyword|default_if_none:''}}">
    <input type="hidden" name="so" id="so" class="form-control" value="{{so|default_if_none:''}}">
  </form>
{% endblock content %}
{% block script %}
  <script src="{% static "js/index.js" %}"></script>
{% endblock script %}