{% extends "base.html" %}
{% load static %}
{% block title %}
  <title>Board Detail</title>
{% endblock title %}
{% block content %}
  <h2 class="border-bottom py-2">
    <!-- 질문제목 -->
    {{question.subject}}
  </h2>
  <div class="row my-3 mb-5">
    <!-- 추천 영역-->
    <div class="col-1">
      <div class="bg-light text-center p-4 border font-weight-bolder mb-1">이건뭐</div>
      <a href="" class="recommen btn btn-sm btn-secondary btn-block my-1">추천</a>
    </div>
    <div class="col-11">
      <div class="card">
        <div class="card-body">
          <div class="card--text">
            <!-- 질문 내용 -->
            {{question.content}}
          </div>
          <div class="d-flex justify-content-end">
            <div class="badge text-bg-light p-2 me-2 text-start">
              <div class="mb-2">
                <!-- 작성자 -->
                {{question.author}}
              </div>
              <!-- 작성일시 -->
              {{question.created_at}}
            </div>
            {% if question.modified_at %}
              <div class="badge text-bg-light p-2 text-start">
                <div class="mb-2">
                  마지막 수정
                </div>
                <!-- 수정일시-->
                {{question.modified_at}}
              </div>
            {% endif %}
          </div>
          {% if question.author == request.user %}
            <div class="my-3">
              <a href="{% url "board:modify" question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
              <a href="#" data-url="{% url "board:delete" question.id %}" class="delete btn btn-sm btn-outline-secondary">삭제</a>
            </div>
          {% endif %}
          <!-- 질문 댓글 영역 -->
          <div class="mt-3">
            <a name="">
              <!-- 질문 댓글 앵커 -->
            </a>
            <div class="comment py-2 text-muted">
              <span style="white-space: pre-line;">
                <!-- 댓글 내용 -->
              </span>
              <span>
                <!-- 댓글 작성자, 작성일시, 수정일시 -->
              </span>
              {% if reply.author == request.user %}
                <a href="" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="" class="delete btn btn-sm btn-outline-secondary">삭제</a>
              {% endif %}
            </div>
          </div>
          <!-- 질문 댓글 영역 종료-->
          <a href="" class="small">댓글추가..</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 원 질문에 대한 답변 영역 -->
  <h5 class="border-bottom my-3 py-2">
    <!-- 답변 개수 -->
    {{question.answer_set.count}}개의 답변이 있습니다
  </h5>
  {% for answer in question.answer_set.all %}
    <a name="">
      <!-- 답변 댓글 앵커 -->
    </a>
    <!-- 답변 추천 영역 -->
    <div class="row my-3">
      <div class="col-1">
        <div class="bg-light text-center p-4 border font-weight-bolder mb-1">이건뭐</div>
        <a href="" class="recommen btn btn-sm btn-secondary btn-block my-1">추천</a>
      </div>
      <div class="col-11">
        <div class="card">
          <div class="card-body">
            <div class="card--text">
              <!-- 답변 내용 -->
              {{answer.content}}
            </div>
            <div class="d-flex justify-content-end">
              <div class="badge text-bg-light p-2 me-2 text-start">
                <div class="mb-2">
                  <!-- 작성자 -->
                  작성자
                </div>
                <!-- 작성일시 -->
                {{answer.created_at}}
              </div>
              <div class="badge text-bg-light p-2 text-start">
                <div class="mb-2">
                  마지막 수정
                </div>
                <!-- 수정일시-->
                {{answer.modified_at}}
              </div>
            </div>
            {% if answer.author == request.user %}
              <div class="my-3">
                <a href="" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="" class="delete btn btn-sm btn-outline-secondary">삭제</a>
              </div>
            {% endif %}
            <!-- 답변 댓글 영역 -->
            <div class="mt-3">
              <a name="">
                <!-- 답변 댓글 앵커 -->
              </a>
              <div class="comment py-2 text-muted">
                <span style="white-space: pre-line;">
                  <!-- 댓글 내용 -->
                </span>
                <span>
                  <!-- 댓글 작성자, 작성일시, 수정일시 -->
                </span>
                {% if reply.author == request.user %}
                  <a href="" class="btn btn-sm btn-outline-secondary">수정</a>
                  <a href="" class="delete btn btn-sm btn-outline-secondary">삭제</a>
                {% endif %}
              </div>
            </div>
            <!-- 답변 댓글 영역 종료-->
            <a href="" class="small">댓글추가..</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- 답변 작성 영역 -->
  <form action="{% url "board:answer_create" question.id %}" method="post" class="my-5">
    {% include "form_errors.html" %}
    {% csrf_token %}
    <div class="form-group mb-3">
      <textarea name="content" id="content" rows="5" class="form-control" {% if not user.is_authenticated %} disabled="disabled" {% endif %}></textarea>
    </div>
    <button class="btn btn-primary">답변 등록</button>
  </form>
{% endblock content %}
{% block script %}
  <script src={% static "js/detail.js" %}></script>
{% endblock script %}
