{% extends "base.html" %}
{% block content %}
  <h1 class="mb-4">Login</h1>
  <form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="userid" class="form-label">User ID</label>
      <input type="text" class="form-control" id="userid" placeholder="userid" name="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock content %}
