{% extends "base.html" %}
{% block content %}
  <h1 class="mb-4">비밀번호 초기화</h1>
  <div class="row mt-2">
    <p class="small">
      비밀번호를 잊어버렸나요? 이메일 주소를 아래에 입력하시면 새로운 비밀번호를 설정하는 절차를 이메일로 보내드리겠습니다.
    </p>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {% if messages %}
      <div class="alert alert-danger">
        {% for msg in messages %}
          <li>{{msg.message}}</li>
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form %}
      <div class="form_group mb-3">
        <label class="mb-2" for="{{field.id_for_label}}">{{field.label}}</label>
        <input type="{{field.widget_type}}" class="form-control" id="{{field.id_for_label}}" name="{{field.name}}" placeholder="{{field.label}}" value="{{field.value|default_if_none:''}}">
        <span class="text-danger small">{{field.help_text}}</span>
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">비밀번호 초기화</button>
  </form>
{% endblock content %}
