{% extends "base.html" %}
{% block content %}
  <h1 class="mb-4">새 비밀번호 입력</h1>
  <form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form_group mb-3">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        <input type="{{field.widget_type}}" class="form-control" id="{{field.id_for_label}}" name="{{field.name}}" placeholder="{{field.label}}" value="{{field.value|default_if_none:''}}">
        <span class="text-danger small">{{field.help_text}}</span>
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">비밀번호 변경</button>
  </form>
{% endblock content %}
