{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1>HOME</h1>
  <h3>Musician</h3>
  <ul>
    <li>
      <a href="{% url "musician_list" %}">List</a>
    </li>
    <li>
      <a href="{% url "musician_create" %}">Create</a>
    </li>
  </ul>
  <h3>app1</h3>
  <ul>
    <li>
      <a href="{% url "app1:list" %}">List</a>
    </li>
  </ul>
  <h3>app2</h3>
  <ul>
    <li>
      <a href="{% url "app2:list" %}">List</a>
    </li>
  </ul>
  <img src="{% static "img/bg0.jpg" %}" alt="" style="width:400px; height:250px">
{% endblock content %}
