{% extends "base.html" %}
{% block content %}
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <h1>New Post</h1>
    <div class="col-md-10 col-lg-8 col-xl-7"></div>
    <form action="" method="post" class="mt-4" enctype="multipart/form-data">
      {% include "form_errors.html" %}
      {% csrf_token %}
      {% for field in form %}
        <div class="form_group mb-3">
          <label class="mb-1" for="{{field.id_for_label}}">{{field.label}}</label>
          {% if field.name == 'image' %}
            <input type="file" name="{{field.name}}" id="{{field.id_for_label}}" class="form-control">
          {% elif field.name == 'content' %}
            <textarea name="{{field.name}}" id="{{field.id_for_label}}" class="form-control"></textarea>
          {% else %}
            <input type="{{field.widget_type}}" class="form-control" id="{{field.id_for_label}}" name="{{field.name}}" placeholder="{{field.label}}" value="{{field.value|default_if_none:''}}">
          {% endif %}
          <span class="text-danger small">{{field.help_text}}</span>
        </div>
      {% endfor %}
      <div class="form-group mb-3">
        <button type="submit" class="btn btn-success">등록</button>
        <a href="{% url "blogs:list" %}" class="btn btn-secondary">목록</a>
      </div>
    </form>
  </div>

{% endblock content %}