{% extends "base.html" %}

{% block title %}
  <title>완료 Todo</title>
{% endblock title %}

{% block content %}
  <h1>ToDo 완료 List</h1>
  <div>
    <a href="{% url "todo_list" %}" class="btn btn-primary">할 일 목록</a>
    <a href="{% url "todo_register" %}" class="btn btn-info">todo 작성</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">할 일</th>
        <th scope="col">작성일</th>
        <th scope="col">중요도</th>
        <th scope="col">완료여부</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
        <tr>
          <th scope="row">{{todo.id}}</th>
          <td>
            <a href="{% url "todo_detail" id=todo.id %}">{{todo.title}}</a>
          </td>
          <td>{{todo.created_at}}</td>
          <td>{{todo.important}}</td>
          <td>{{todo.completed}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}