{% extends "base.html" %}
{% block content %}
  <h3>로그인</h3>
  {% include "form_errors.html" %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="email" name="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary mb-5">Login</button>
  </form>
{% endblock content %}