{% extends "base.html" %}
{% block content %}
  <h3>회원가입</h3>
  <form action="" method="post">
    {% include "form_errors.html" %}
    {% csrf_token %}
    {% for field in form %}
      <div class="form_group mb-3">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {% if field.name == 'gender' %}
          <select name="{{field.name}}" id="{{field.id_for_label}}" class="form-select">
            {% for option in field %}
              {{option}}
            {% endfor %}
          </select>
        {% else %}
          <input type="{{field.widget_type}}" class="form-control" id="{{field.id_for_label}}" name="{{field.name}}" placeholder="{{field.label}}" value="{{field.value|default_if_none:''}}">
        {% endif %}
        <span class="text-danger small">{{field.help_text}}</span>
      </div>
    {% endfor %}
    <div class="form-group mt-3">
      <button type="submit" class="btn btn-primary mb-5">회원 가입</button>
    </div>
  </form>
{% endblock content %}
