{% extends "base.html" %}
{% load static %}
{% block title %}
  <title>Book List</title>
  <link rel="icon" href="../img/list.png" type="image/x-icon">
{% endblock title %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">도서코드</th>
        <th scope="col">도서명</th>
        <th scope="col">저자</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <th scope="row">{{book.id}}</th>
          <td>{{book.code}}</td>
          <td>
            <a href="{% url "books:details" id=book.id %}" class="text-decoration-none" style="color:red">{{book.title}}</a>
          </td>
          <td>{{book.author}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}