<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "board:index" %}">Board</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "board:index" %}">List</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.is_authenticated %}
              {% if user.is_superuser %}
                <span style="font-weight:700; color:rgb(0, 60, 255)">{{user.username|upper}}</span>님 로그인중
              {% else %}
                <span style="font-weight:700; color:rgb(63, 221, 0)">{{user.username|upper}}</span>님 로그인중
              {% endif %}
            {% else %}
              로그인이 필요합니다
            {% endif %}
          </a>
          <ul class="dropdown-menu">
            {% if not user.is_authenticated %}
              <li>
                <a class="dropdown-item" href="{% url "users:login" %}">로그인</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url "users:password_reset" %}">비밀번호 초기화</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url "users:register" %}">회원가입</a>
              </li>
            {% else %}
              <li>
                <a class="dropdown-item" href="#" id="logout">로그아웃</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url "users:password_change" %}">비밀번호 변경</a>
              </li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
            {% if user.is_superuser %}
              <a class="nav-link disabled fw-bolder" aria-disabled="true">ADMIN</a>
            {% else %}
              <a class="nav-link disabled" aria-disabled="true">일반유저</a>
            {% endif %}
          {% endif %}
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
