<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "board:index" %}">Board</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "board:index" %}">리스트</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.username}}님 로그인중
          </a>
          <ul class="dropdown-menu">
            {% if not user.is_authenticated %}
              <li>
                <a class="dropdown-item" href="{% url "users:login" %}">로그인</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url "users:register" %}">회원가입</a>
              </li>
            {% else %}
              <li>
                <a class="dropdown-item" href="#" id="logout">로그아웃</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">비밀번호 변경</a>
              </li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
